* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    height: 2000px;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: green;
    width: 100%;
    box-shadow: 0px 25px 60px 1px black;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    height: 70px;
    z-index: 1;
    
}

a {
    text-decoration: none;
}

.logo {
    padding-left: 10px;
    font-size: 40px;
    font-style: italic;
    padding-top: 10px;
}

.barra__contenido {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-content: center;
}

.barra__contenido-items {
    padding: 15px 10px 20px 20px;
    font-size: 30px;

}

main {
    display: grid;
    grid-template-columns: 430px 300px 250px;
}

.texto1 {
    position: relative;
    width: 400px;
    top: 100px;
    left: 20px;
    background-image: radial-gradient(circle, rgb(221, 23, 23), rgb(17, 246, 1));
    height: 200px;
    transition: all 1s;
}
.texto1:hover {
    transform: rotateZ(360deg);
    box-shadow: 0px 25px 50px 40px gold;
    background-image: linear-gradient(yellow, blue 33% 66%, red);
}

.texto2 {
    position: relative;
    top: 100px;
    background-image: linear-gradient( to left, aqua, yellowgreen);
    transition: all 2s;
}
.texto2:hover {
    transform: translateY(50px);
    border: 10px dotted black;
}

.texto3 {
    position: relative;
    top: 100px;
    left: 20px;
}

li {
    list-style-type: none;
}

.whatsapp {
    position: fixed;
    right: 10px;
    bottom: 5px;
    transition: all 1seg;
}