* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a {
    text-decoration: $nada;
}

li {
    list-style-type: $nada;
}

.whatsapp {
    position: fixed;
    right: 10px;
    bottom: 5px;
    transition: all 1seg;
}